<div class="container">
  <div class="bg-white border col mx-auto mt-4 p-4 shadow">
    <h5 class=" text-center">Summary</h5>

    <form [formGroup]='form' #myForm='ngForm' (ngSubmit)='dateBetween(form.value)' class='formFields'>

      <div class="form-group row">
        <label class="col-md-2">Beginning Date</label>
        <input type="date" class='form-control col-md-8' formControlName='beginningDate'>
      </div>
      <div class="form-group row">
        <label class="col-md-2">End Date</label>
        <input type="date" class='col-md-8 form-control' formControlName='endDate'>
      </div>
      <div class="form-group row">
        <button type="submit" class="btn btn-outline-success btn-rounded my-2 mx-1">Show</button>
        <div *ngIf='betweenDate !== undefined && betweenDate.length == 0' class="alert alert-danger my-auto mx-1">No records
          to show</div>
      </div>
    </form>

    <table *ngIf='betweenDate !== undefined && betweenDate.length != 0' class="table table-responsive table-striped table-hover text-center">
      <tr>
        <td>Entry Number</td>
        <td>Company Name</td>
        <td>Date Purchased</td>

        <td>Date Sold</td>
        <td>Number Of Shares Bought</td>
        <td>Number Of Shares Sold</td>
        <td>Purchase Price</td>
        <td>Sold Price</td>
        <td>Loss Gain Price</td>
      </tr>
      <tr *ngFor='let item of betweenDate; let i = index'>
        <td>{{i+1}}</td>
        <td>{{item.CompanyName}}</td>
        <td>{{item.DatePurchased}}</td>
        <td>{{item.DateSold}}</td>
        <td>{{item.NumberOfSharesBought}}</td>
        <td>{{item.NumberOfSharesSold}}</td>
        <td>{{item.PurchasePrice}}</td>
        <td>{{item.SoldPrice}}</td>
        <td>{{item.LossGainPrice}}</td>
      </tr>
    </table>
  </div>

  <hr>

  <div class="container">
    <div class="bg-white border col mx-auto mt-4 p-4 shadow">
      <table class="table table-responsive table-striped table-hover text-center">
        <tr>
          <td>Entry Number</td>
          <td>Company Name</td>
          <td>Average Number Bought</td>
          <td>Average Number Sold</td>
          <td>Average Purchase Price</td>
          <td>Average Sold Price</td>
          <td>Average Loss or Gain</td>
        </tr>
        <tr *ngFor='let item of dataToDisplay; let i = index'>
          <td>{{i+1}}</td>
          <td>{{item._id}}</td>

          <td>{{item.averagenumberbought}}</td>

          <td>{{item.averagenumbersold}}</td>
          <td>{{item.averageprice}}</td>
          <td>{{item.averagesprice}}</td>
          <td>{{item.averagelprice}}</td>
        </tr>
      </table>
      <div class="text-center">
        <button [disabled]='dataToDisplay === undefined || dataToDisplay.length == 0' type='button' (click)='onDownload()' class="btn btn-primary">Download</button>
      </div>
    </div>
  </div>