<div class="container">
    <div class="bg-white border col mx-auto mt-4 p-4 shadow">
        <h5 class=" text-center">Summary</h5>

        <form [formGroup]='form' #myForm='ngForm' (ngSubmit)='dateBetween(form.value)' class='formFields'>

            <div class="form-group row">
                <label class="col-md-2">Beginning Date</label>
                <input type="date" class='form-control col-md-8' formControlName='beginningDate'>
            </div>
            <div class="form-group row">
                <label class="col-md-2">End Date</label>
                <input type="date" class='col-md-8 form-control' formControlName='endDate'>
            </div>
            <div class="form-group row">
                <button type="submit" class="btn btn-outline-success btn-rounded my-2 mx-1">Show</button>
                <div *ngIf='betweenDate !== undefined && betweenDate.length == 0' class="alert alert-danger my-auto mx-1">No
                    records to show</div>
            </div>
        </form>

        <table *ngIf='betweenDate !== undefined && betweenDate.length != 0' class="table table-responsive table-striped table-hover text-center">
            <tr>
                <td>Entry Number</td>
                <td>Company Name</td>
                <td>Date Purchased</td>
                <td>Number Of Shares Bought</td>
                <td>Purchase Price</td>
                <td>Per Share Purchase Price</td>
                <td>Date Sold</td>
                <td>Number Of Shares Sold</td>
                <td>Sold Price</td>
                <td>Per Share Sold Price</td>
                <td>Loss Gain Price</td>
            </tr>
            <tr *ngFor='let item of betweenDate; let i = index'>
                <td>{{i+1}}</td>
                <td>{{item[5]}}</td>
                <td>{{dateFormat(item[6])}}</td>
                <td>{{item[9]}}</td>
                <td>{{item[11]}}</td>
                <td>{{item[3]}}</td>
                <td>{{dateFormat(item[7])}}</td>
                <td>{{item[10]}}</td>
                <td>{{item[12]}}</td>
                <td>{{item[4]}}</td>
                <td>{{item[8]}}</td>
            </tr>
        </table>
    </div>

    <hr>

    <div class="container">
        <div class="bg-white border col mx-auto mt-4 p-4 shadow">
            <table class="table table-responsive table-striped table-hover text-center">
                <thead>
                    <tr>
                        <th>Entry Number</th>
                        <th>Company Name</th>
                        <th>Total Quantity Bought</th>
                        <th>Total Quantity Sold</th>
                        <th>Average Purchase Price</th>
                        <th>Average Sold Price</th>
                        <th>Average Loss or Gain</th>
                    </tr>
                </thead>
                <tr *ngFor='let item of dataToDisplay; let i = index'>
                    <td>{{i+1}}</td>
                    <td>{{item[1]}}</td>

                    <td>{{item[2]}}</td>

                    <td>{{item[3]}}</td>
                    <td>{{item[4]}}</td>
                    <td>{{item[5]}}</td>
                    <td>{{item[6]}}</td>
                </tr>
            </table>
            <div class="text-center">
                <button [disabled]='dataToDisplay === undefined || dataToDisplay.length == 0' type='button' (click)='onDownload()' class="btn btn-primary">
                    <i class="fa fa-download m-1" aria-hidden="true"></i>Download as .csv</button>
            </div>
        </div>
    </div>