@import '../../assets/sass/mixins.scss';
form {
    background-color: #09364C;
    position: relative;
    top: -8em;
    @media (max-width: $breakpoint-s) {
        max-height: 80vh;
    }
}

.container {
    position: relative;
    top: -8em;
}