<div>
  <h1 class="jumbotron">Purchase History</h1>

  <form [formGroup]='form' (ngSubmit)='onAdd(form.value)' class='formFields'>
    <div class="form-group">
      <label>Item Name:</label>
      <input type="text" #refName class='form-control' formControlName='itemName' placeholder="Iphone">
      <div *ngIf="form.controls.itemName.touched && form.controls['itemName'].hasError('required')" class="alert alert-danger">Please enter the item name</div>
    </div>
    <div class="form-group">
      <label>Quantity:</label>
      <input type="number" class='form-control' formControlName='quantity' placeholder="1">
      <div *ngIf="form.controls['quantity'].touched && form.controls['quantity'].hasError('required')" class="alert alert-danger">Please enter the Quantity</div>
    </div>
    <div class="form-group">
      <label>Price:</label>
      <input type="text" class='form-control' formControlName='price' placeholder="$1000">
      <div *ngIf="form.controls['price'].touched && form.controls['price'].hasError('required')" class="alert alert-danger">Please enter the item price</div>
    </div>
    <div class="form-group">
      <label>Purchase Data:</label>
      <input type="date" class='form-control' formControlName='purchaseDate'>
      <div *ngIf="form.controls['purchaseDate'].touched && form.controls['purchaseDate'].hasError('required')" class="alert alert-danger">Please enter the purchase date</div>
    </div>
    <div class="form-group">
      <label>Company Name:</label>
      <input type="text" class='form-control' formControlName='companyName' placeholder="Apple lnc.">

    </div>
    <div class="buttonGroup">
    <button type="submit" class="btn btn-primary">Add</button>
    <button type='button' (click)='onDownload()' class="btn btn-primary">Download</button>
    </div>
    
  </form>
</div>