<!--<div class="container-fluid">-->
<div class="jumbotron shadow text-center text-white">
    <!-- <button class="btn btn-primary" (click)='onAdd()'>Add</button>
    <button class="btn btn-primary" (click)='onView()'>View</button> -->

    <!-- <ul class="nav nav-tabs">
      <li></li>

    </ul> -->

    <h1>
        Purchase History
    </h1>
</div>
<div class="container mb-0 mx-2">
    <div class="row">
        <ul id='navbar' class="nav nav-tabs flex-columns">
            <!-- <button class="nav-item" (click)='onAdd()'>Add</button>
      <button class="nav-item" (click)='onView()'>View</button> -->
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" (click)='onAdd()'>Add</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " data-toggle="tab" (click)='onView()'>View</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" (click)='onSummary()'>Summary</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" (click)='onReport()'>Report</a>
            </li>
        </ul>

        <div class="dropdown ml-auto">
            <button class="btn btn-spc dropdown-toggle " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">{{owner}}</button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" (click)='onLogout()'>Log out</a>
            </div>

        </div>
    </div>
</div>

<div class="main" [@slideAnimation]="o.isActivated ? o.activatedRoute : ''">
    <router-outlet #o="outlet" name='childrenComponents'></router-outlet>

    <!--<router-outlet name='childrenComponents'></router-outlet>-->


    <!-- <router-outlet name='additemComponent'></router-outlet> -->
    <!-- <router-outlet name = 'displayComponent'></router-outlet> -->
    <!--</div>-->