// color scheme 
// #09364C --dark contrast midnight blue; 
// #5098A3 --light contrast cadet blue; 
// #D7E3E6 --bkg elements light steel blue;
// #69C8C9 --accent1 med aquamarine; 
// #D61431 --accent2 crimson; 


body {
    background-image: url('/assets/stripes-light.png');
}
.jumbotron {
   background-image: url('https://www.ceres.org/sites/default/files/2017-04/financial-stock-ticker-banner_4.jpg');
   background-position: center 70%;
   background-repeat: no-repeat-y;
   margin-bottom:0.5em!important;

}
.class {
   width:100%;
   min-height:12em;
   max-height:12em;
       background-image: url('https://www.ceres.org/sites/default/files/2017-04/financial-stock-ticker-banner_4.jpg');
   background-position: center center;
   background-repeat: no-repeat-y;
}

a {
cursor:pointer;

}
.nav-link {
   display: block;
   margin-bottom:0.5px;
   background-color:rgba(215, 227, 230, .90);

}
.nav-link:hover {
      box-shadow: 0px 0.5px 2px #09364C;
   
}
.nav-link:active {
      box-shadow: 0px 0.5px 1px #69C8C9;
   
}
.nav-link.active{
    box-shadow: 0px 0px 1px #09364C;
}

.img-thumbnail {
    padding: .25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    max-width: 100%;
    height: auto;
    height: 200px;
}

router-outlet ~ * {
  position: absolute;
  height: 100%;
  width: 100%;
}

.main {
    background-color:rgba(215, 227, 230, .70);
    height:99vh;
    width:99vw;

}

.btn * {
    background-color:#09364C;
}