// color scheme 
// #09364C --dark contrast midnight blue; 
// #5098A3 --light contrast cadet blue; 
// #D7E3E6 --bkg elements light steel blue;
// #69C8C9 --accent1 med aquamarine; 
// #D61431 --accent2 crimson; 
// @import 'C:\Users\1557964\Documents\PurchaseHistoryCRUD\src\assets\sass\mixins.scss';
$accent1:#69C8C9;
$light-contrast:#5098A3;
$dark-contrast:#09364C;
$border-no:0px;
$break-small: 320px;
$mainHeaderFont:'Bitter',
sans-serif;
$bodyTextFont:'Roboto',
sans-serif;
@import url('https://fonts.googleapis.com/css?family=Bitter|Roboto');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@font-face {
    font-family: 'Bitter';
}

@font-face {
    font-family: 'Roboto';
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Bitter', serif;
}

p,
table,
body {
    font-family: 'Roboto', sans-serif;
}

body {
    background-image: url('/assets/stripes-light.png');
}

table {
    resize: horizontal;
    overflow: auto;
    max-width: 101%;
}

.btn-spc {
    border-radius: 0;
    border: 1px solid $accent1;
    background-color: #0caed0;
    color: white;
    text-shadow: 0px 0px 0.2px ghostwhite;
    &:hover {
        border: 1px solid $light-contrast;
        background-color: darken(#0caed0, 10%);
    }
    &:focus {
        border: 1px solid $light-contrast;
    }
}

#logout {
    position: absolute!important;
    right: 0!important;
    padding-right: 6em;
}

.btn {
    border-radius: $border-no;
}

.jumbotron {
    min-height: 20vh;
    max-height: 20vh;
    background-image: url('/assets/financial-stock-ticker-banner_4.jpg');
    background-position: center center;
    background-repeat: no-repeat-y;
    border-radius: $border-no;
}

//force the cursor type to be pointer
a {
    cursor: pointer;
}

.nav-item {
    transition: ease-in-out 0.3s;
    margin: 0.1em;
    box-sizing: border-box;
    .nav-link {
        background-color: darken(white, .3);
        display: block;
        margin-bottom: 0.5px;
        &:hover {
            background-color: darken(white, .6);
            color: $light-contrast!important;
        }
    }
}

.active {
    color: $light-contrast;
    box-shadow: 0px 0px 1px #09364C;
}

.img-thumbnail {
    padding: .25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    max-width: 100%;
    height: auto;
    height: 120px;
}

router-outlet~* {
    position: absolute;
    height: 99vh;
    width: 99vw;
}

.main {
    background-color: rgba($light-contrast, .7);
    min-height: 100%;
}

