body {
     background-image: url('/assets/stripes-light.png');
}
.jumbotron {
    background-image: url('https://cdn-images-1.medium.com/max/2000/1*S1cZtX37TUoGL8lFUJvwHA.jpeg')
}
footer {
    background-color:#102a46;
}