$breakpoint-tablet: 768px;
$retina: "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)";
$tablet-width: 768px;
$desktop-width: 1024px;
// color scheme 
// #09364C --dark contrast midnight blue; 
// #5098A3 --light contrast cadet blue; 
// #D7E3E6 --bkg elements light steel blue;
// #69C8C9 --accent1 med aquamarine; 
// #D61431 --accent2 crimson; 
$dark-contrast:#09364C;
$light-contrast:#5098A3;
$bkg-color:#D7E3E6;
$accent1:#69C8C9;
$accent2:#D61431;
$border-no:0;