// #09364C --dark contrast midnight blue; 
// #5098A3 --light contrast cadet blue; 
// #D7E3E6 --bkg elements light steel blue;
// #69C8C9 --accent1 med aquamarine; 
// #D61431 --accent2 crimson; 
// @import '../sass/mixins.scss';
$accent1:#69C8C9;
$light-contrast:#5098A3;
$dark-contrast:#09364C;
$border-no:0px;